@model NormiesRe.Post.PostListViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="alert alert-warning">
    <strong>Hello</strong> This is a blog for people who aren't normies. <br />
    In a normie world, someone writes a blog and everyone reads it. Here, everyone writes a blog and probably not-so-many will read it. <br />
    Enjoy!
</div>

<hr />
<a href="/new"><button class="btn btn-warning">new</button></a>
<hr />
<table class="table table-striped table-hover">
    <tr class="row">
        <th scope="row">Posts</th>
    </tr>
    @foreach (var post in Model.Posts)
    {
        <tr class="row">
            <td scope="row">
                <span class="badge">@post.ReleaseDate.ToShortDateString()</span>
                <span class="badge">@post.ReleaseDate.ToString("HH:mm:ss")</span>
                <a href="/show/@post.ID">@post.Title</a>
            </td>
        </tr>
    }
</table>